<nav class="navbar navbar-inverse" role="navigation">
  <ul class="nav nav-pills">
    <% if user_signed_in? %>
        Logged in as <strong><%= current_user.email %></strong>.
        <%= link_to 'Edit profile', edit_user_registration_path, :class => 'btn btn-default navbar-btn' %>
        <%= link_to "Logout", logout_path, :class => 'btn btn-default navbar-btn' %>
    <% else %>
        <%= link_to "Sign up", new_user_registration_path, :class => 'btn btn-default navbar-btn'  %>
        <%= link_to "Login", new_user_session_path, :class => 'btn btn-default navbar-btn'  %>
    <% end %>
  </ul>
</nav>